<!DOCTYPE html>
<html>
  <head>
    <title>Dealership</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Welcome to our Dealership</h1>
    <a href="/newcars/new">Add a new car</a>
    <a href="/newcars">See all available cars</a>
  </body>
</html>